#root {
  background-color: black;
}


.heat-map {
  margin: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  background: #524e4e;
  box-shadow:
    0 11px 15px -10px rgba(37, 39, 41, 0.25),
    0 1px 3px 1px rgba(0, 134, 148, 0.03),
    0 3px 0 0 rgba(0, 49, 54, 0.04),
    0 1px 0 0 rgba(0, 75, 82, 0.11);
  background-color: rgb(20, 19, 19);

  .heat-map-header {
    box-sizing: border-box;
    padding: 0 16px;
    height: 40px;
    justify-content: space-between;
  //   border-bottom: 1px solid #EDEEEE;

    .clickable {
      color: #005054;
    }
    .clickable:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .heat-map-title {
    font-size: 16px;
    font-weight: 600;
    color: #1f6d6d;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .heat-map-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 14px;


    .node {
      width: 14px;
      height: 14px;
      margin: 2px;
      background-color: #EDEEEE;

      &:hover {
        cursor: pointer;
        transform: scale(1.125);
      }
    }

    .selected {
      transform: scale(1.75);
      box-shadow: inset 0 0 0 1.75px #fff, 0 0 0 1.75px #2a3434bd, 0 1px 4px rgba(0, 0, 0, 0.38);
      position: relative;
      border-radius: 1px;

      &:hover {
        transform: scale(1.75);
      }
    }
  }
}

.heat-map-legend {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0px;

  span {
    font-size: 12px;
    font-weight: 200;
    white-space: nowrap;
    color: #8E9494;
  }
  .left {
    text-align: right;
  }
}

.heat-map-spectrum {
  display: flex;
  height: 8px;
  width: 170px;
  box-sizing: border-box;
  margin: 0 8px;
  border-radius: 9px;
  overflow: hidden;

  .slice {
    width: 0.5%;
  }
}
